= simple_form_for(@character) do |f|
  .form_group
    .row
      = f.error_notification
  .form_group
    .row
      .col-md-4
        = f.input :name
      .col-md-4
        = f.association :race
  %hr
  .form_group
    .row
      .col-md-1
        = f.input :strength
        = f.input :dexterity
        = f.input :constitution
        = f.input :intelligence
        = f.input :wisdom
        = f.input :charisma
      - if @character.new_record?
        .col-md-4
          %p Ability Scores:
          - @character.new_ability_scores.each do |s|
            %p
              = s

  %hr
  .form_group
    .row
      .col-md-3
        = f.input :eye_color
      .col-md-3
        = f.input :hair_color
      .col-md-3
        = f.input :height
      .col-md-3
        = f.input :weight
    .row
      .col-md-12
        = f.input :description
  %hr
  .row
    .form_group.col-md-12
      = f.button :submit
