%h1 Listing characters
- if @characters.empty?
  %p
    You haven't made a character yet.
    %br
    = link_to "Create your first Character", new_character_path, class: "btn btn-primary"
-else
  %ul
  - @characters.each do |character|
    %li
      %p
      = link_to character.name, character
      \-
      = link_to 'Edit', edit_character_path(character)
      = link_to 'Destroy', character, :method => :delete, :data => { :confirm => 'Are you sure?' }
  = link_to "New Character", new_character_path, class: "btn btn-primary"

